In [19]:
import pandas as pd
import numpy as np

from sklearn.preprocessing import StandardScaler

In [20]:
df_objective = pd.read_csv('../data/profile.csv')
df_objective.head()

,Number,Ave_depth,Std_depth,Ave_top,Std_top,Ave_min,Std_min,Collapse,Distortion,Mask,Roughness
0,1,96.695526,0.000000,0.000000,0.000000,0.000000,0.000000,2,0,1,1
1,2,68.230583,10.478008,11.661110,0.587810,10.610055,0.593178,0,1,0,1
2,3,84.559617,5.306303,11.611535,0.411439,11.611535,0.411439,0,1,0,1
3,4,77.775023,3.080210,10.764922,0.394361,10.764922,0.394361,0,0,0,0
4,5,33.637337,3.592776,12.181741,0.522975,12.181741,0.522975,0,2,0,0

In [51]:
columns = ["Number", "Ave_depth", "Std_depth", "Ave_top", "Std_top", "Ave_min", "Std_min", "Collapse", "Distortion", "Mask", "Roughness"]
ndarray = np.array([[-1, 180, 0, 12.5, 0, 12.5, 0, 0, 0, 0, 0]])

df = pd.DataFrame(data = ndarray, columns = columns)

df.head()

,Number,Ave_depth,Std_depth,Ave_top,Std_top,Ave_min,Std_min,Collapse,Distortion,Mask,Roughness
0,-1.0,180.0,0.0,12.5,0.0,12.5,0.0,0.0,0.0,0.0,0.0

In [53]:
df_merged = pd.concat([df_objective, df], axis = 0)

In [54]:
def preprocess(df:pd.core.frame.DataFrame) -> pd.core.frame.DataFrame:
    droped_columns = ['Number','Collapse','Distortion',"Mask","Roughness"]
    df = df.drop(columns=droped_columns)

    scaler=StandardScaler()
    df_scaled =pd.DataFrame(scaler.fit_transform(df),columns=df.columns)

    return df_scaled

In [55]:
df_preprocessed = preprocess(df_merged)

df_preprocessed

    Ave_depth  Std_depth   Ave_top   Std_top   Ave_min   Std_min
0   -0.122284  -1.727689 -1.479413 -1.268561 -1.412721 -1.277820
1   -0.863235   1.093089  0.722862  1.274774  0.739072  1.226897
2   -0.438185  -0.299182  0.713499  0.511653  0.942179  0.459498
3   -0.614790  -0.898467  0.553611  0.437760  0.770480  0.387386
4   -1.763707  -0.760480  0.821186  0.994244  1.057820  0.930462
5    0.744686  -0.352697 -1.479413 -1.268561 -1.412721 -1.277820
6    1.081521   1.259597 -1.479413 -1.268561 -1.412721 -1.277820
7   -1.008310   1.722687  0.775986  1.381883  0.875753  1.245270
8   -0.328057  -0.492763  0.651643  1.316826  0.507619  0.243782
9    0.611163  -0.722550  0.122549  0.559551 -0.080281  0.189046
10  -0.288923  -0.213850  0.291183 -0.063558  0.017172  0.942742
11  -1.824500  -0.671796  0.873610 -0.183157  1.114117 -0.218570
12  -1.812822  -0.852556  0.887148  1.326971  1.128654  1.255171
13   0.808825   0.180381 -1.479413 -1.268561 -1.412721 -1.277820
14   1.345790   1.702959 -1.479413 -1.268561 -1.412721 -1.277820
15   0.644728   0.610764 -1.479413 -1.268561 -1.412721 -1.277820
16   1.208953   1.249556 -1.479413 -1.268561 -1.412721 -1.277820
17   0.746877  -1.727689 -1.479413 -1.268561 -1.412721 -1.277820
18   1.363696  -0.406204  0.417406  0.813584 -0.271455  0.715387
19  -0.191819   0.735420  0.711977  0.788920  0.540500  0.525247
20  -0.344674   1.193054  0.679614  0.315107  0.720521  1.400378
21  -0.267135  -0.147119  0.714811  0.174593  0.391315  0.152682
22  -0.385380   0.085751  0.651375  0.613515  0.740944  1.080249
23  -0.531710   0.559351  0.598675  0.922035  0.558914  0.553541
24   0.183133   0.608122  0.766873  0.232348  0.426078  0.411214
25   2.046156  -1.727689  0.881292 -1.268561  1.122365 -1.277820

In [56]:
df_preprocessed[25:26]

    Ave_depth  Std_depth   Ave_top   Std_top   Ave_min  Std_min
25   2.046156  -1.727689  0.881292 -1.268561  1.122365 -1.27782

In [57]:
from sklearn.metrics import mean_squared_error

N = 25
rsme = []
for i in range(N):
    rsme.append(np.sqrt(mean_squared_error(df_preprocessed[i:i+1], df_preprocessed[25:26])))
rsme

[1.668418227806135,
 2.2111653181173896,
 1.5524517521293042,
 1.5101809860931041,
 2.059737935647414,
 1.6116250083263024,
 1.9084888727471645,
 2.4047729263218054,
 1.662933026992121,
 1.3282348792337697,
 1.6174520276395123,
 1.7510532478043737,
 2.1912884212424375,
 1.6917103640948523,
 2.01078101771983,
 1.799627075747081,
 1.895805969095843,
 1.5103924023467898,
 1.4536277877735377,
 1.7760886515308334,
 2.005396920742896,
 1.44572329004598,
 1.756036017205697,
 1.845078331386513,
 1.5561885538993656]